In [57]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [58]:
franchise_file = "Resources/TeamsFranchises.csv"
franchise_df = pd.read_csv(franchise_file)
franchise_df.head()

teams_file = "Resources/Teams.csv"
teams_df = pd.read_csv(teams_file)
teams_df.head()
filtered_teams_df = teams_df.loc[(teams_df['yearID'] >= 2000) & (teams_df['yearID'] <= 2015)]
filtered_teams_df_clean = filtered_teams_df[["yearID", "teamID", "lgID", "franchID", "G", "W", "L"]]
filtered_teams_df_renamed = filtered_teams_df_clean.rename(columns={ 'yearID' : 'yearid',
                                                                     'teamID' : 'teamid',
                                                                    'lgID' : 'leagueid',
                                                                    'franchID': 'franchid',
                                                                    'G':'games',
                                                                    'W':"wins",
                                                                    "L":'losses'
                                                                   })

pitcher_file = "Resources/Pitching.csv"
pitcher_df = pd.read_csv(pitcher_file)
pitcher_df
filtered_pitcher_df = pitcher_df.loc[(pitcher_df['yearID'] >= 2000) & (pitcher_df['yearID'] <= 2015)]
filtered_pitcher_df_clean = filtered_pitcher_df[["playerID", "yearID","stint", "teamID", "lgID", "G", "W", "L", "IPouts"]]
filtered_pitcher_df_renamed = filtered_pitcher_df_clean.rename(columns={  
                                                                         'playerID' : 'playerid',
                                                                         'yearID' : 'yearid',
                                                                        'stint' : 'stint',
                                                                        'teamID':'teamid',
                                                                        'lgID':'leagueid',
                                                                        'G':'games',
                                                                        'W': 'wins',
                                                                        'L':'losses',
                                                                        'IPouts':'ipouts'})


# filtered_pitcher_df_renamed

In [59]:
franchise_df_clean = franchise_df[["franchID", "franchName", "active"]]
franchise_df_clean

    franchID                     franchName active
0        ALT          Altoona Mountain City      N
1        ANA  Los Angeles Angels of Anaheim      Y
2        ARI           Arizona Diamondbacks      Y
3        ATH         Philadelphia Athletics      N
4        ATL                 Atlanta Braves      Y
..       ...                            ...    ...
115      WNL           Washington Nationals      N
116      WNT           Washington Nationals    NaN
117      WOR            Worcester Ruby Legs      N
118      WSN           Washington Nationals      Y
119      WST           Washington Statesmen      N

[120 rows x 3 columns]

In [60]:
franchise_df_renamed = franchise_df_clean.rename(columns={ 'franchID' : 'franchid',
                                                           'franchName' : 'franchname'})

franchise_df_renamed

    franchid                     franchname active
0        ALT          Altoona Mountain City      N
1        ANA  Los Angeles Angels of Anaheim      Y
2        ARI           Arizona Diamondbacks      Y
3        ATH         Philadelphia Athletics      N
4        ATL                 Atlanta Braves      Y
..       ...                            ...    ...
115      WNL           Washington Nationals      N
116      WNT           Washington Nationals    NaN
117      WOR            Worcester Ruby Legs      N
118      WSN           Washington Nationals      Y
119      WST           Washington Statesmen      N

[120 rows x 3 columns]

In [61]:
connection_string = "postgres:Sania0817@localhost:5433/BaseballStats_DB"
engine = create_engine(f'postgresql://{connection_string}')

In [62]:
franchise_df_renamed.to_sql(name='franchise', con=engine, if_exists='append', index=False)
filtered_teams_df_renamed.to_sql(name='teams', con=engine, if_exists='append', index=False)
filtered_pitcher_df_renamed.to_sql(name='pitcher', con=engine, if_exists='append', index=False)